.containerBuscador {
  background-color: var(--title);
  padding: 2rem;
  text-align: center;
}

.containerBuscador h1 {
  color: var(--white);
  margin-bottom: 1.5rem;
}

.contentInputs {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contentInputs .inputs {
  position: relative;
  display: flex;
  flex: 1;
}

.contentInputs .inputs label {
  position: absolute;
  font-size: 1.5rem;
  top: 26px;
  left: 12px;
}

.contentInputs .inputs input {
  width: 100%;
  height: 3rem;
  font-size: 0.875rem;
  padding-left: 2.5rem;
  border-radius: 6px;  
}

.contentInputs .inputs .input {
  width: 100%;
  height: 3rem;
  font-size: 0.875rem;
  padding-left: 2.5rem;
  border-radius: 6px;  
}

.contentInputs .inputs input::placeholder {
  color: #7F7F7F;
}

.contentInputs svg {
  color: #7F7F7F;
}

.contentInputs button {
  width: 20%;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary);
  transition: all ease-in-out .2s;
}

.contentInputs .react-datepicker__navigation {
  width: 10%;
  height: 2rem;
}

.contentInputs button:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--white);
}

/* =============== */
.caterory {
  margin-bottom: 2rem;
}

.caterory h2 {
  margin: 1.5rem 0;
}

/* ============================ */
.contentRecomendacao {
  max-width: 1250px;
  margin: 0 auto 6rem;
}

.contentRecomendacao h2 {
  margin-bottom: 1.2rem;
}
.containerCard {
  display: flex;
  flex-wrap: wrap;
}

/* REPONSIVIDADE TABLET */
@media screen and (max-width: 1080px) {
  .containerBuscador {
    width: 100%;
  }

  .caterory h2 {
    margin: 1rem;
  }

  .contentRecomendacao h2{
    margin: 1rem;
  }  
}

@media screen and (max-width: 799px) {
  .containerCard {
    display: block;
  }

  .contentCard .contentDescription {
    padding: 1rem;
  }
}

@media screen and (max-width:750px) {
  .containerBuscador h1 {
    font-size: 1.75rem;
  }

  .contentInputs {
    display: block;    
  }

  .contentInputs .input {
    margin-top: 0.5rem;
  }

  .contentInputs .inputs label {
    top: 30px;
  }

  .contentInputs button {
    width: 100%;
    margin-top: 0.5rem;
  }

  
}

/* RESPONSIVIDADE MOBIEL */
@media screen and (max-width:450px) {
  .containerBuscador {
    padding: 1rem;
  }

  

  

  

  

  
  
}

