.card /**/
{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #00000042;
    cursor: pointer;
}

.card img /*estilização de imagens de categorias*/
{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.card div:nth-child(2) /*definindo espaçamento do titulo*/
{
    padding: 10px;
}

.card:hover
{
    transform: scale(1.02);
    transition-duration: .3s;
}