.card /*estilização do card*/
{
    height: 220px;
    flex: 0 0 230px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #00000059;
    cursor: pointer;
    position:relative;
}

.card h1
{
    font-size: 1.25rem;
}

.card span
{
    font-size: .8rem;
}

.card div:nth-child(1) /*Estilização da imagem do card*/
{
    width: 100%;
    height: 150px;
    background-size: cover;
    border-radius: 10px 10px 0 0px;
}

.card div:nth-child(2)
{
    padding: 10px;
}

.card:hover
{
    transform: scale(1.02);
    transition-duration: .4s;
}

.card:hover div:nth-child(1)
{
    filter: contrast(120%);
}

@media screen and (max-width: 1080px) {
    .card
    {
        flex: 0 0 48%;
        margin: 10px 0;
        text-shadow: 2px 2px 6px #00000021;

    }

    .card div:nth-child(2)
    {
        padding: 10px;
        position: absolute;
        top: 0;
    }

    .card h1
    {
        font-size: 1.7rem;
        color: white;
    }

    .card span
    {
        font-size: 1rem;
        color: white;
    }

    .card div:nth-child(1) /*Estilização da imagem do card*/
    {
        width: 100%;
        height: 220px;
        background-size: cover;
        border-radius: 10px;
    }

    .card div:nth-child(2)
    {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.274);
    }
}


@media screen and (max-width: 750px) {
    .card
    {
        flex: 0 0 100%;
        margin: 5px;
    }
}