.containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2.5rem;
  width: 100%;
  height: 3.625rem;
  color: var(--white);
  font-weight: bold;
  background: var(--primary);
  position: fixed;
  bottom: 0;
}

.contentIcons {
  display: flex;
  gap: 1.875rem;
}

.contentIcons svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

@media screen and (max-width: 400px)
{
.containerFooter 
{
  
  flex-direction: column;
  height: 6rem;
  width: 25rem;
  
}




}