* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--white:#fff;
	--primary: #F0572D;
	--light: #DFE4EA;
	--title: #31363F;
	--text: #191B1D;
	
}

body, input, textarea, button {
	font-family: 'Roboto';
  font-weight: 400;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}