@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
	--white:#fff;
	--primary: #F0572D;
	--title: #31363F;
	--text: #191B1D;
	--secondary: #DFE4EA;
}

a {
	color: inherit; /*Herda a cor dos textos */
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1
{
	color: var(--primary);
	font-size: 24px;
}

label
{
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	margin-top: -18px;
}