.containerCategory
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.container-card
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

@media screen and (max-width: 1080px) {

    .containerCategory
    {
        width: 90%;
        height: auto;
    }
    
    .container-card
    {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .containerCategory h2
    {
        font-size: 1.26rem;
        margin-bottom: 10px;
    }
}