.category /**/
{
    width: 1230px;
    height: 320px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category h1
{
    font-size: 1.5rem;
}

.category span
{
    font-size: 0.75rem;
}

.container-card
{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
