.containerCategory
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.containerCard
{
    display: flex;
    gap: 1rem
    /* justify-content: space-between; */
}

@media screen and (max-width: 1080px) {

    .containerCategory
    {
        width: 90%;
        height: auto;
    }
    
    .containerCard
    {
        flex-wrap: wrap;
        /* padding: 1rem; */
    }
}

